<main>
    <div>
        <h1> Contacts </h1>

        <div id="handler">
            <button class="button-30 buttonCandidature nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/formApplication']">Candidature<i class="fas fa-calendar-plus"></i> </a>
            </button>

            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Type
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Date</a></li>
                    <li><a class="dropdown-item" href="#">Titre Candidature</a></li>
                    <li><a class="dropdown-item" href="#">Entreprise</a></li>
                    <li><a class="dropdown-item" href="#">Status</a></li>
                </ul>
            </div>

            <input placeholder="search candidature" />

            <button class="button-30 buttonRechercher" role="button">RECHERCHER </button>
        </div>
    </div>

    <div id="mainPage" class="col-12">
        <div class='formCandidature cardShadow col-xl-9'>
            <h2>Créer une nouvelle entreprise</h2>
            <div class="mainFormCandidature">
                <form (ngSubmit)="onSubmit()" #entrepriseForm="ngForm">
                    <input [(ngModel)]="entreprise.TitleEntreprise" class="inputGde" name="entrepriseTitle" type="url" placeholder="Nom Entreprise">
                    <input [(ngModel)]="entreprise.LinkEntreprise" class="inputGde" name="entrepriseSite" placeholder="Site Web Entreprise">

                    <div class="contactFormCandidature">
                      
                        <div class="listAndAdd">
                           
                            <div class="inputButton btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <input [(ngModel)]="application.Persons" name="person" placeholder="{{inputPerson}}" > <span [routerLinkActive]="['link-active']" [routerLink]="['/formPerson']"><i class="fas fa-plus"></i></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let person of formInfo[1]" (click)="setPerson(person.id, person.lastNamePerson, person.firstNamePerson)">{{person.lastNamePerson}} {{person.firstNamePerson}} </li>

                                </ul>
                            </div>

                            <button class="button-13" role="button">Ajouter un(e) contact</button>

                        </div>                      
                    </div>
                    <div class="comment">
                        <h3>Commentaires</h3>
                        <textarea [(ngModel)]="entreprise.CommentsEntreprise" name="comment"></textarea>
                    </div>
                    <div class="telEmailForm">
                        <i class="cardShadow fas fa-envelope"></i><input [(ngModel)]="entreprise.EmailEntreprise" name="telEntreprise" type="email" placeholder="email">
                        <i class="cardShadow fas fa-phone"></i><input [(ngModel)]="entreprise.TelEntreprise" name="emailEntreprise" type="tel" placeholder="tel">
                    </div>
                    <div class="buttonsForm">
                        <button (click)="onSubmit(entreprise)" type="button" class="btn btn-success">Créer</button>
                        <button type="button" class="btn btn-danger">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
        <aside class="col-xl-2">
            <div id="lists">
                <ul>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/entreprise']">Entreprises</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/contact']">Contacts</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/document']">Documents</a>
                    </li>
                </ul>
            </div>
            <div id="jobs">
                <h5 id="jobboards">
                    Jobboards
                </h5>
                <ul>
                    <li>
                        <a href="https://fr.indeed.com/?r=us" target="_blank">Indeed</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/jobs/" target="_blank">Linkedin</a>
                    </li>
                    <li>
                        <a href="https://www.pole-emploi.fr/accueil/" target="_blank">Pole-emploi</a>
                    </li>
                    <li>
                        <a href="https://www.welcometothejungle.com/fr" target="_blank">Welcome to the Jungle</a>
                    </li>

                </ul>
            </div>
        </aside>
    </div>
    <nav class="row">

        <ul id="ulDown">
            <li>
                À propos de moi
            </li>
            <li>
                Autres projets
            </li>
            <li>
                Contactez-moi
            </li>

        </ul>
    </nav>


</main>