<main>
    <div>
        <h1> Contacts </h1>

        <div id="handler">
            <button class="button-30 buttonCandidature nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/formApplication']">Candidature<i class="fas fa-calendar-plus"></i> </a>
            </button>

            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Type
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Date</a></li>
                    <li><a class="dropdown-item" href="#">Titre Candidature</a></li>
                    <li><a class="dropdown-item" href="#">Entreprise</a></li>
                    <li><a class="dropdown-item" href="#">Status</a></li>
                </ul>
            </div>

            <input placeholder="search candidature" />

            <button class="button-30 buttonRechercher" role="button">RECHERCHER </button>
        </div>
    </div>

    <div id="mainPage" class="col-12">
        {{application}}
        <div class="headerCandidature">
            <h2><a href="#linkExtCand"> {{application[0].titleApplication}} </a></h2>
            <p>Id.{{application[0].applicationId}}</p>
        </div>

        <h4> {{application[0].statusApplication}}</h4>
        <div class="mainCandidature">
            <div class="docEnvoye">
                <ul>
                    Envoyé:
                    <li>CV</li>
                    <li>Lettre Motivation</li>
                </ul>
            </div>
            <div class="commentCandidature">
                <h6>Commentaires</h6>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem accusamus obcaecati odit veniam cum placeat
                    commodi deserunt, neque mollitia reprehenderit distinctio culpa consectetur repellendus voluptatum eaque iusto optio excepturi doloremque.
                </p>
            </div>
            <div class="footerCandidature">
                <h5 class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['/cardEntreprise']">
                        Entreprise
                    </a>
                </h5>
                <button type="button" class="btn btn-success">Edit</button>
            </div>
        </div>
    </div>
    <aside class="col-xl-2">
        <div id="lists">
            <ul>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['/entreprise']">Entreprises</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['/contact']">Contacts</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['/document']">Documents</a>
                </li>
            </ul>
        </div>
        <div id="jobs">
            <h5 id="jobboards">
                Jobboards
            </h5>
            <ul>
                <li>
                    <a href="https://fr.indeed.com/?r=us" target="_blank">Indeed</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/jobs/" target="_blank">Linkedin</a>
                </li>
                <li>
                    <a href="https://www.pole-emploi.fr/accueil/" target="_blank">Pole-emploi</a>
                </li>
                <li>
                    <a href="https://www.welcometothejungle.com/fr" target="_blank">Welcome to the Jungle</a>
                </li>
            </ul>
        </div>
    </aside>
    <nav class="row">
        <ul id="ulDown">
            <li>
                À propos de moi
            </li>
            <li>
                Autres projets
            </li>
            <li>
                Contactez-moi
            </li>
        </ul>
    </nav>
</main>
