<main>
    <div>
        <h1> Contacts </h1>

        <div id="handler">
            <button class="button-30 buttonCandidature nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/formApplication']">Candidature<i class="fas fa-calendar-plus"></i> </a>
            </button>

            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Type
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Date</a></li>
                    <li><a class="dropdown-item" href="#">Titre Candidature</a></li>
                    <li><a class="dropdown-item" href="#">Entreprise</a></li>
                    <li><a class="dropdown-item" href="#">Status</a></li>
                </ul>
            </div>

            <input placeholder="search candidature" />

            <button class="button-30 buttonRechercher" role="button">RECHERCHER </button>
        </div>
    </div>

    <div id="mainPage" class="col-12">

        <div *ngIf="application" class="headerCandidature">
            <h2 *ngIf="application[0].externalLinkApplication" (click)="navigate(application[0].externalLinkApplication)"> {{application[0].titleApplication}}</h2>

            <h2 *ngIf="!application[0].externalLinkApplication"> {{application[0].titleApplication}}</h2>
            <h2 *ngIf="saved[1]"><input [(ngModel)]="application[0].titleApplication" value="{{application[0].titleApplication}}" /> </h2>
           
            <p>Id.{{application[0].applicationId}}</p>
        </div>

        <h4 *ngIf="application"> {{application[0].statusApplication}}</h4>
        <h4 *ngIf="saved[1]"><input [(ngModel)]="application[0].statusApplication" value="{{application[0].statusApplication}}" /> </h4>
        <div class="mainCandidature">
            <div class="docEnvoye">
                <ul *ngIf="documents[1]">
                    Envoyé:
                    <li class="clean" *ngFor="let document of documents">{{document.titleDocument}} <button *ngIf="saved[1]"> Supprimer</button></li>
                </ul>
                <div *ngIf="saved[1]" class="docSelectFormCandidature">
                    <div class="buttonFormList">
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {{documentTitle}}
                            </button>
                            <ul *ngIf="formInfo" class="dropdown-menu">
                                <li *ngFor="let doc of formInfo[2]" (click)=setDocument(doc)>{{doc.titleDocument}}</li>

                            </ul>
                        </div>
                        <ul class="wrapper">
                            <li (click)="addDocToList()" class="icon addDoc">
                                <span class="tooltip">Ajouter</span>
                                <span><i class="fas fa-plus"></i></span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div *ngIf="application" class="commentCandidature">
                <h6>Commentaires</h6>
                <p *ngIf="!application[0].commentsApplication">
                    Aucun commentaire
                </p>
                <p *ngIf="application[0].commentsApplication">
                    {{application[0].commentsApplication}}
                </p>
                <div *ngIf="saved[1]">
                    <div *ngIf="application[0].commentsApplication">
                        
                        <textarea [(ngModel)]="application[0].commentsApplication">{{application[0].commentsApplication}} 
                        </textarea>
                    </div>
                    <div *ngIf="!application[0].commentsApplication">                        
                        <textarea [(ngModel)]="application[0].commentsApplication">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="footerCandidature">
                <h5 *ngIf="entreprise" class="nav-item" [routerLinkActive]="['link-active']" [routerLink]="['/cardEntreprise/' + entreprise[0].entrepriseId]">
                    {{entreprise[0].titleEntreprise}}
                </h5>
                <button *ngIf="saved[1]" (click)="updateApplication(saved)" type="button" class="btn btn-success">Go</button>
                <button *ngIf="!saved[1]" (click)="editContact()" type="button" class="btn btn-dark">Edit</button>
                <button *ngIf="saved[1]" (click)="reloadComponent()" type="button" class="btn btn-warning">Annuler</button>
                <button *ngIf="saved[1]" (click)="goDelete(application[0].applicationId)" type="button" class="btn btn-danger">Supprimer</button>

            </div>

            <div class="listAndAdd" *ngIf="personSent">
                <ul *ngIf="persons" class="wrapper">
                    <li *ngFor="let added of persons" class="icon icon2 clean addDoc">
                        <span class="tooltip">Retirer</span>
                        <span>{{added.firstNamePerson}} {{ "  " }} {{added.lastNamePerson}} </span>
                        <button *ngIf="saved[1]"> Supprimer</button>
                    </li>
                </ul>
            </div>
            <div class="listAndAdd" *ngIf="saved[1]">

                <div class="inputButton btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <input [value]="inputPerson" name="persona" placeholder="prenom, nom"> <span (click)="addContactToList()"><i class="fas fa-plus"></i></span>
                    </button>
                    <ul *ngIf="formInfo" class="dropdown-menu">
                        <li *ngFor="let person of formInfo[1]" (click)="setPerson(person)">{{person.lastNamePerson}} {{person.firstNamePerson}} </li>
                    </ul>
                </div>
                <div class="listAndAdd" *ngIf="personsList.person[1]">
                    <ul class="wrapper">
                        <li *ngFor="let added of personsList.person" class="icon icon2 clean addDoc">
                            <span class="tooltip">Retirer</span>
                            <span>{{added.firstNamePerson}} {{ "  " }} {{added.lastNamePerson}} </span>
                        </li>
                    </ul>
                </div>

                <button role="button" class="button-13 nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['/formPerson']">Ajouter un(e) contact</a>
                </button>

            </div>


        </div>
    </div>
    <aside class="col-xl-2">
        <div id="lists">
            <ul>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['/entreprise']">Entreprises</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['/contact']">Contacts</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['/document']">Documents</a>
                </li>
            </ul>
        </div>
        <div id="jobs">
            <h5 id="jobboards">
                Jobboards
            </h5>
            <ul>
                <li>
                    <a href="https://fr.indeed.com/?r=us" target="_blank">Indeed</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/jobs/" target="_blank">Linkedin</a>
                </li>
                <li>
                    <a href="https://www.pole-emploi.fr/accueil/" target="_blank">Pole-emploi</a>
                </li>
                <li>
                    <a href="https://www.welcometothejungle.com/fr" target="_blank">Welcome to the Jungle</a>
                </li>
            </ul>
        </div>
    </aside>
    <nav class="row">
        <ul id="ulDown">
            <li>
                À propos de moi
            </li>
            <li>
                Autres projets
            </li>
            <li>
                Contactez-moi
            </li>
        </ul>
    </nav>
</main>
