<p *ngIf="!applications"><em>Loading...</em></p>
<table class='col-xl-9 table table-striped' aria-labelledby="tableLabel" *ngIf="applications">
    <thead>
        <tr>
            <th>Date</th>
            <th>Titre de la candidature</th>
            <th>Entreprise</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let application of applications" (click)="goCardApplication(application.applicationId)">
            <td>{{ application.timeApplication | date:"dd/MM/yyyy, h:mm"  }}</td>
            <td>{{ application.titleApplication }}</td>
            <td class=" nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/cardEntreprise/' + application.entrepriseId ]">{{ application.entreprise.titleEntreprise}}</a>
            </td>
            <td>{{ application.statusApplication }}</td>

        </tr>
    </tbody>
</table>