<div>

    <h1> Candidatures </h1>
    <button>Nouvelle Candidature</button>
    <div>
        <div class="panel-group" role="tablist">

            <div class="panel panel-default">

                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">

                    <h4 class="panel-title">

                        <a class="collapsed" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">

                            Type <i class="fa-solid fa-caret-down"></i>

                        </a>

                    </h4>

                </div>

                <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">

                    <ul class="list-group">

                        <li class="list-group-item">Date</li>

                        <li class="list-group-item">Title</li>

                        <li class="list-group-item">Entreprise</li>

                    </ul>

                </div>

            </div>

            <input placeholder="search candidature" />
            <button>RECHERCHER </button>
        </div>
    </div>

    <p *ngIf="!applications"><em>Loading...</em></p>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
        <thead>
            <tr>
                <th>Date</th>
                <th>Titre de la candidature</th>
                <th>Entreprise</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let application of applications">
                <td>{{ application.TimeApplication }}</td>
                <td>{{ application.TitleApplication }}</td>
                <td>{{ application.EntrepriseApplication }}</td>
                <td>{{ application.StatusApplication }}</td>
            </tr>
        </tbody>
    </table>
</div>
