<main>
    <div>
        <h1> Contacts </h1>
        
        <div id="handler">
            <button class="button-30 buttonCandidature nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/formApplication']">Candidature<i class="fas fa-calendar-plus"></i> </a>
            </button>

            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Type
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Date</a></li>
                    <li><a class="dropdown-item" href="#">Titre Candidature</a></li>
                    <li><a class="dropdown-item" href="#">Entreprise</a></li>
                    <li><a class="dropdown-item" href="#">Status</a></li>
                </ul>
            </div>

            <input placeholder="search candidature" />

            <button class="button-30 buttonRechercher" role="button">RECHERCHER </button>
        </div>
    </div>

    <div id="mainPage" class="col-12">
        <div class='formCandidature cardShadow col-xl-9'>
            <h2>Créer une nouvelle candidature</h2>
            <div class="mainFormCandidature">
                <form (ngSubmit)="onSubmit()" #applicationForm="ngForm">
                    <input [(ngModel)]="application.ExternalLinkApplication" name="ELink" class="inputGde" type="url" placeholder="Lien externe vers la candidature">
                    <input [(ngModel)]="application.TitleApplication" name="Title" class="inputGde" placeholder="titre du poste/candidature">
                    <div class="docEnvoyeFormCandidature">
                        <div class="listAndAdd">
                            <div class="docSelectFormCandidature">
                                <div class="buttonFormList">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{documentTitle}}
                                        </button>
                                        <ul *ngIf="formInfo" class="dropdown-menu">
                                            <li *ngFor="let doc of formInfo[2]" (click)=setDocument(doc)>{{doc.titleDocument}}</li>

                                        </ul>
                                    </div>
                                    <ul class="wrapper">
                                        <li (click)="addDocToList()" class="icon addDoc">
                                            <span class="tooltip">Ajouter</span>
                                            <span><i class="fas fa-plus"></i></span>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="listAndAdd" *ngIf="documentsList[1]">
                                <ul class="wrapper">
                                    <li *ngFor="let docs of documentsList" class="icon clean addDoc">
                                        <span class="tooltip">Retirer</span>
                                        <span>{{docs.titleDocument}}</span>
                                    </li>
                                </ul>
                            </div>
                            <button class="button-13" role="button">Ajouter un type de document</button>
                        </div>
                    </div>
                    <div class="entreprisesFormCandidature">
                        <div class="listAndAdd">
                            <div class="docSelectFormCandidature">
                                <div class="buttonFormList">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{entrepriseTitle}}
                                        </button>
                                        <ul *ngIf="formInfo"  class="dropdown-menu">
                                            <li *ngFor="let entreprise of formInfo[0]" (click)="setEntreprise(entreprise.entrepriseId, entreprise.titleEntreprise)" >{{entreprise.titleEntreprise}}</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button role="button" class="button-13 nav-item" [routerLinkActive]="['link-active']">
                                <a class="nav-link text-dark" [routerLink]="['/formEntreprise']">Ajouter une entreprise</a>
                            </button>
                        </div>
                    </div>
                    <div class="contactFormCandidature">

                        <div class="listAndAdd">
                          
                            <div class="inputButton btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <input [value]="inputPerson" name="persona" placeholder="prenom, nom"> <span (click)="addContactToList()"><i class="fas fa-plus"></i></span>
                                </button>
                                <ul *ngIf="formInfo" class="dropdown-menu">
                                    <li *ngFor="let person of formInfo[1]" (click)="setPerson(person)">{{person.lastNamePerson}} {{person.firstNamePerson}} </li>
                                </ul>
                            </div>

                            <button role="button" class="button-13 nav-item" [routerLinkActive]="['link-active']">
                                <a class="nav-link text-dark" [routerLink]="['/formPerson']">Ajouter un(e) contact</a>
                            </button>

                        </div>
                        <!-- <div class="checkBox col-12">
        <input type="checkbox" id="checkboxFormCandidature" name="checkbox">
        <label for="checkbox">Le contact travaille-t-il dans l'entreprise ?</label>
    </div>-->

                        <div class="listAndAdd" *ngIf="personList.person[1]">
                            <ul class="wrapper">
                                <li *ngFor="let added of personList.person" class="icon icon2 clean addDoc">
                                    <span class="tooltip">Retirer</span>
                                    <span>{{added.firstNamePerson}} {{ "  " }} {{added.lastNamePerson}} </span>
                                </li>
                            </ul>
                        </div>
                      
                    </div>
                    <div class="comment">
                        <h3>Commentaires</h3>
                        <textarea [(ngModel)]="application.CommentsApplication" name="comment"></textarea>
                    </div>
                    <div class="buttonsForm">
                        <button (click)="onSubmit(application, personSent)" type="button" class="btn btn-success">Créer</button>
                        <button type="button" class="btn btn-danger">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
        <aside class="col-xl-2">
            <div id="lists">
                <ul>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/entreprise']">Entreprises</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/contact']">Contacts</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" [routerLink]="['/document']">Documents</a>
                    </li>
                </ul>
            </div>
            <div id="jobs">
                <h5 id="jobboards">
                    Jobboards
                </h5>
                <ul>
                    <li>
                        <a href="https://fr.indeed.com/?r=us" target="_blank">Indeed</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/jobs/" target="_blank">Linkedin</a>
                    </li>
                    <li>
                        <a href="https://www.pole-emploi.fr/accueil/" target="_blank">Pole-emploi</a>
                    </li>
                    <li>
                        <a href="https://www.welcometothejungle.com/fr" target="_blank">Welcome to the Jungle</a>
                    </li>

                </ul>
            </div>
        </aside>
    </div>
    <nav class="row">

        <ul id="ulDown">
            <li>
                À propos de moi
            </li>
            <li>
                Autres projets
            </li>
            <li>
                Contactez-moi
            </li>

        </ul>
    </nav>


</main>