        <div class='cardPerson col-xl-9'>
            <div id="gradient"></div>

            <div *ngIf="person[0]" id="card">

                <h2>{{person[0].firstNamePerson}} {{person[0].lastNamePerson}}</h2>

                <p><strong>{{statut[0].titleStatut}}</strong> in <em>{{entreprise[0].titleEntreprise}}</em></p>
                <p *ngIf="!edit">{{person[0].commentsPerson}}</p>

                <textarea *ngIf="edit" [(ngModel)]="person[0].commentsPerson"></textarea>

                <span *ngIf="edit">email<i class="fas fa-envelope-square"></i>: <input [(ngModel)]="person[0].emailPerson" /></span>

                <span *ngIf="!edit" class="left bottom">tel<i class="fas fa-mobile-android-alt"></i>: {{person[0].telPerson}}</span>
                <span *ngIf="!edit" class="right bottom">email<i class="fas fa-envelope-square"></i>: {{person[0].emailPerson}}</span>

                <span *ngIf="edit" class="left bottom">tel<i class="fas fa-mobile-android-alt"></i>:<input [(ngModel)]="person[0].telPerson" /> </span>

                <button *ngIf="!edit" (click)="editPerson()">Edit</button>
                <button *ngIf="edit" (click)="goEditPerson()">Confirmer</button>

                <button (click)="deletePerson()"><i class="fas fa-trash-alt"></i></button>

            </div>
        </div>
