        <div class='formCandidature cardShadow col-xl-9'>
            <h2>Créer un nouveau contact</h2>
            <div class="mainFormCandidature">
                <form (ngSubmit)="onSubmit()" #personForm="ngForm">
                    <div class="contactFormContact">

                        <div class="listAndAdd">
                            <div class="buttonFormList">
                                <div class="statutSelectFormCandidature">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{statutTitle}}
                                        </button>
                                        <ul *ngIf="formInfo" class="dropdown-menu">
                                            <li *ngFor="let statut of formInfo[3]" (click)="setStatut(statut)">{{statut.titleStatut}}</li>

                                        </ul>
                                    </div>
                                    <ul class="wrapper">
                                        <li class="icon addDoc">
                                            <span class="tooltip">Ajouter</span>
                                            <span><i class="fas fa-plus"></i></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <input [(ngModel)]="person.LastNamePerson" name="lastName" placeholder="nom">
                            <input [(ngModel)]="person.FirstNamePerson" name="firstName" placeholder="Prenom">

                        </div>
                    </div>
                    <div class="entreprisesFormCandidature">
                        <div class="listAndAdd">
                            <div class="docSelectFormCandidature">
                                <div class="buttonFormList">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{entrepriseTitle}}
                                        </button>
                                        <ul *ngIf="formInfo" class="dropdown-menu">
                                            <li *ngFor="let entreprise of formInfo[0]" (click)="setEntreprise(entreprise.entrepriseId, entreprise.titleEntreprise)">{{entreprise.titleEntreprise}}</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button role="button" class="button-13 nav-item" [routerLinkActive]="['link-active']">
                                <a class="nav-link text-dark" [routerLink]="['/formEntreprise']">Ajouter une entreprise</a>
                            </button>
                        </div>
                    </div>
                    <div class="comment">
                        <h3>Commentaires</h3>
                        <textarea [(ngModel)]="person.CommentsPerson" name="comment"></textarea>
                    </div>
                    <div class="telEmailForm">
                        <i class="cardShadow fas fa-envelope"></i><input [(ngModel)]="person.EmailPerson" name="emailPerson" type="  email" placeholder="email">
                        <i class="cardShadow fas fa-phone"></i><input [(ngModel)]="person.TelPerson" name="telName" type="  tel" placeholder="tel">
                    </div>
                    <div class="buttonsForm">
                        <button type="button" (click)="onSubmit(person)" class="btn btn-success">Créer</button>
                        <button type="button" class="btn btn-danger">Annuler</button>
                    </div>
                </form>
            </div>
        </div>    