        <p *ngIf="!contacts"><em>Loading...</em></p>
        <button (click)="navigate('formPerson')" role="button" class="button-13 nav-item buttonAddPerson" [routerLinkActive]="['link-active']">
            <i class="fas fa-user-plus"></i>
        </button>
        <table class='col-xl-9 table table-striped entrepriseTable' aria-labelledby="tableLabel" *ngIf="contacts">
            <thead>
                <tr>
                    <th>Statut</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Entreprise</th>
                    <th>Tel</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" (click)="navigateWithId('cardPerson',contact.id)" *ngFor="let contact of contacts">
                    <td>{{ contact.statutId }}</td>
                    <td>{{ contact.lastNamePerson }}</td>
                    <td>{{ contact.firstNamePerson }}</td>
                    <td class="pointer nav-item" [routerLinkActive]="['link-active']" (click)="navigateWithId('cardEntreprise', contact.entreprise.entrepriseId)">
                        {{ contact.entreprise.titleEntreprise }}
                    </td>
                    <td class="telEmailList"> <span>{{ contact.telPerson }}</span> <i *ngIf="contact.telPerson" class="cardShadow fas fa-phone"></i> </td>
                    <td class="telEmailList"><span>{{ contact.emailPerson }}</span> <i *ngIf="contact.emailPerson" class="cardShadow fas fa-envelope"></i></td>

                </tr>
            </tbody>
        </table>
      