        <p *ngIf="!contacts"><em>Loading...</em></p>
        <button role="button" class="button-13 nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/formPerson']">Ajouter un(e) contact</a>
        </button>
        <table class='col-xl-9 table table-striped' aria-labelledby="tableLabel" *ngIf="contacts">
            <thead>
                <tr>
                    <th>Statut</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Entreprise</th>
                    <th>Tel</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr (click)="personNavigate(contact.id)" *ngFor="let contact of contacts">
                    <td>{{ contact.statutPerson }}</td>
                    <td>{{ contact.lastNamePerson }}</td>
                    <td>{{ contact.firstNamePerson }}</td>
                    <td class=" nav-item" [routerLinkActive]="['link-active']" [routerLink]="['/cardEntreprise']">
                        {{ contact.entreprise.titleEntreprise }}
                    </td>
                    <td>{{ contact.telPerson }}</td>
                    <td>{{ contact.emailPerson }}</td>

                </tr>
            </tbody>
        </table>
      